<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.purala.teppos">
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="28" />
	<application android:label="Poseidon.Android" android:theme="@style/MainTheme" usesCleartextTraffic="true" android:networkSecurityConfig="@drawable/network_security_config"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
	<uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
</manifest>